[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "leakr"]
	path = leakr
	url = https://github.com/cherylisabella/leakr
[submodule "nomisdata"]
	path = nomisdata
	url = https://github.com/cherylisabella/nomisdata
[submodule "vangogh"]
	path = vangogh
	url = https://github.com/cherylisabella/vangogh
